catkin_ws/build/database_communication/catkin_generated/stamps/database_communication/receiveMessageFromAndroid.py.stamp
catkin_ws/build/database_communication/catkin_generated/installspace/receiveMessageFromAndroid.py
